
<div style="margin:auto; width: 70%; margin-top: 30px;">
    <app-search-bar (onSelectedOption)="onSelectedOption($event)"></app-search-bar>

</div>
<h2 style="text-align:center">Details</h2>
<div *ngFor = "let posts of post" class="group">
  <!-- <p><b>No :</b>{{posts.id}}</p> -->
  <p><b>Movie :</b> {{posts.title}}</p>
  <p><b>Description: </b>{{posts.body}}</p>
</div>